@tailwind base;
@tailwind components;
@tailwind utilities;

/*Sidebar*/
.menuIcon {
  color: #334155;
}

.menuIconWhite {
  color: white;
  /* background-color: #f9a109;
  font-size: 50px !important; */
}

.menuIconContainer {
  position: relative;
}

.indexIconContainer:hover::after,
.historyIconContainer:hover::after,
.statisticsIconContainer:hover::after {
  content: "items";
  left: 75px;
  font-size: 10px;
  position: absolute;
  font-weight: 500;
  color: white;
  background-color: #374151;
  padding: 0 10px;
  border-radius: 5px;
}

.historyIconContainer:hover::after {
  content: "history";
}

.statisticsIconContainer:hover::after {
  content: "stats";
}

/* Shopping List */

.shopping-list {
  background: #fff0de;
  position: relative;
  z-index: 0;
}

.shopping-list.empty-list::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 40%;

  max-height: 350px;
  width: 100%;
  background: url(./assets/svg/undraw_shopping_app_flsj\ 1.svg) bottom center;
  background-size: 150%;
  z-index: 0;
}
